<app-navbar></app-navbar>
<div class="example-container">
    <div class="lista-aluno">
    <h1>Área de listagem de aluno</h1>
    <mat-form-field class="pesquisar">
      <mat-label>Entre com o Nome ou o CPF</mat-label>
      <input matInput #inputData>
      <button type="button" mat-icon-button matSuffix (click)="buscarNomeOuCpf(inputData.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="tabela">
        <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Data de Nascimento</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Celular</th>
                <th>Código da Escola</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aluno of dataSource.connect() | async">
                <td>{{ aluno.iCodAluno }}</td>
                <td>{{ aluno.sNome }}</td>
                <td>{{ aluno.dNascimento | date:'dd/MM/yyyy' }}</td>
                <td>{{ aluno.sCPF }}</td>
                <td>{{ aluno.sEndereco }}</td>
                <td>{{ aluno.sCelular }}</td>
                <td>{{ aluno.iCodEscola }}</td>
                <td>
                  <button mat-icon-button color="black" aria-label="Editar aluno" (click)="goToAtualizaAluno(aluno.iCodAluno)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="black" aria-label="Deletar aluno" (click)="deletaAluno(aluno.iCodAluno)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <button class="button-add" mat-raised-button color="accent" (click)="goToAddAluno()">
      Adicionar Aluno <mat-icon>add</mat-icon>
    </button>  
  </div>
</div>
