.example-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}


h1{
    color: aliceblue;
}

.pesquisar{
    width: 100%;
}

mat-form-field{
    width: 100%;
  }
  
.tabela{
    overflow-x: auto;
    width: 100%;
}

  table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    overflow-x: auto;
  }
  tbody{
    background-color: #d9d9d9;
  }
  td, th{
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  th{
    background-color: #d9d9d9;
  }
  
  tr:hover {
    cursor: pointer;
    background-color: #939393;
  }
  
  .ng-star-inserted{
    border: none;
  }

  .button-add{
    margin-top: 30px;
    width: 100%;
  }



  @media (min-width: 768px) {
    .example-container {
      width: 100%;
    }

    .lista-aluno{
      width: 70%;
    }
  }