<div class="container">
  <div class="navbar">
    <div class="logo">
      <img [src]="'assets/images/Escola.png'" alt="logo da escola">
    </div>

    <div class="nav-tela-cheia">
      <div class="caminhos">
        <span><a href="/lista-aluno"><mat-icon>face</mat-icon>Aluno</a></span>
        <span><a href="/lista-aluno"><mat-icon>school</mat-icon>Escola</a></span>
      </div>
      <button class="logout">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>
    </div>

    <div class="menu">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
          <span mat-menu-item><a href="/lista-aluno"><mat-icon>face</mat-icon>Aluno</a></span>
          <span mat-menu-item><a href="/lista-escola"><mat-icon>school</mat-icon>Escola</a></span>
          <button mat-menu-item >
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
      </mat-menu>
    </div>
  </div>
</div>



